# M-Pesa Daraja API (Safaricom)
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=174379
MPESA_CALLBACK_URL=https://gym-website-ochre-one.vercel.app/api/mpesa/callback
# Set to 'production' for live, omit/any other value for sandbox
# MPESA_ENV=production